.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

main {
  display: flex;
  flex-direction: column;
  height: 100vh;
  background-color: #f0f0f0;
  align-items: center;
  justify-content: flex-start;
  gap: 32px;
}

header {
  display: flex;
  height: 50px;
  width: 100%;
  align-items: center;
  justify-content: center;
  background-color: #282c34;
  color: #fff;
  font-weight: 600;
  font-size: 2rem;
}

.container {
  width: 100%;
  place-items: center;
  display: grid;
  overflow-y: auto;
  grid-template-columns: repeat(auto-fit, minmax(420px, 1fr));
  gap: 16px;

}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

@media (max-width: 400px) {
  .container {
    grid-template-columns: 1fr;

  }
}